

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(https://4kwallpapers.com/images/wallpapers/ios-13-stock-ipados-red-black-background-amoled-ipad-hd-5120x2880-792.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

ul {
    background-color: #e34c15;
    text-align: center;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px;

}


.titulo {
    margin: auto;
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 30px;
    color: #f8efb2;
    width: 50%;
    text-shadow: 0 0 10px #f1827a, 0 0 25px #f1827a, 0 0 50px #f1827a;
}

.contenedorcalculadora {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f8efb257;
    width: 100%;
    height: 100%;

}


.pasos {
    color: #f8efea;
    padding: 20px;
}

.pasocalculadora {
    color: #efc562;

}


.monedaextranjera input {
    color: #e34c15;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 20%;
    height: 40px;
    background-color: #f8efb2;
    font-size: 20px;
    border-radius: 40px;
    border-color: #e38615;
    margin-top: 40px;
}

div:where(.swal2-container) .swal2-html-container {
font-size: 30px;
}

.contenedorcalculadora input:hover {
    background-color: #efc562;
    color: #e34c15;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.60s;
}

.container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #f8efb2;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

.container h3 {
    text-align: center;
    color: #e34c15;
    font-size: 30px;
}

.container p {
    color: #e38615;
    font-size: 25px;
    text-align: center;
}

.segundaparte input {
    color: #e34c15;
    width: 60%;
    height: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    border-color: #efc562;
    padding-left: 20px;
    background-color: #efc562;
}

/* CONTACTO */

.newsletter {
    background-image: url(https://cdn.dribbble.com/userupload/10404376/file/original-41ec0555bc6bbe1ad4419797fc6a361a.jpg?resize=752x);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    height: 550px;
}

h4 {
    width: 500px;
    margin: auto;
    color: #f8efb2;
    text-transform: uppercase;
    text-shadow: 0 0 10px #f1827a, 0 0 25px #f1827a, 0 0 50px #f1827a;
}


.newsletter h1 {
    padding-top: 50px;
    text-align: center;
    color: #f8efb2;
    text-transform: uppercase;
    text-shadow: 0 0 10px #f1827a, 0 0 25px #f1827a, 0 0 50px #f1827a;
}

form {
    text-align: center;
    margin-top: 50px;
}

form input {
    width: 35%;
    height: 35px;
    background-color: #efc562;
    font-size: 15px;
}



.nombredeusuario {
    margin: 50px;
}

.emaildeusuario {
    margin: 50px;

}

.enviar {
    margin: 50px;
    width: 8%;
    text-transform: uppercase;
    border-radius: 20px;
}

label {
    border-radius: 20px;
    width: 300px;
    color: #efc562;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 900;

}

.containerapi {
    text-transform: uppercase;
    color: #f8efb2;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    background-color: #f1827a;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    gap: 20px;
    border: 1px solid #f8efb2 ;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}



.monedasdiv{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #e34c15ba;
    width: 100%;
    height: 200px;
}


.monedasdiv p {
  color: #efc562;
  font-size: 25px;
  padding-top: 40px;
  font-weight: 900;
  
}

.container_ {
    color: #f8efb2;
    text-align: center;
    background-color: #e34c15;
    margin-top: 100px;
    
}

